@model SoccerManager.Models.News

@{
    ViewData["Title"] = "ArticlesDetail";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/new_detail.css">

<!--************************************
				Banner Start
		*************************************-->
<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>News Detail</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="active">News Detail</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Banner End
*************************************-->

<div class="container">
	<!--************************************
			Main Start
	*************************************-->

	<main id="tg-main" class="tg-main tg-haslayout">
		<div class="tg-main-section tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
						<div class="col-sm-12 col-xs-12" style="font-size: 20px; ">
							<h1 class="mb-5"> @Model.Title </h1>
							<figure class="tg-postimg tg-postimgdetail">
								<img src="@Url.Content("~/images/" + Model.ImageUrl)" alt="Image" style="width: 70%; height: 70%;">
							</figure>
						</div>
						<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
							<div class="tg-postdetail">
								<div class="tg-mathtextbox article" style="font-size: 20px;">

									<h3> @Model.Summary></h3>

									<p>@Model.Contents</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--************************************
			Main End
	*************************************-->

</div>