@model IEnumerable<SoccerManager.Models.Address>

@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Profile</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Profile</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<main id="tg-main" class="tg-main tg-haslayout" style="font-family: Oswald;">
	<div class="tg-themetabs">
		<ul class="tg-themetabnav" role="tablist">
			<li role="presentation">
				<a asp-action="Profile" asp-route-id="@ViewBag.CustomerId">Update information</a>
			</li>
			<li role="presentation" class="active">
				<a asp-action="AddressManage" asp-route-id="@ViewBag.CustomerId">Address Book</a>
			</li>
		</ul>
		<div class="tab-content tg-themetabcontent">
			<div role="tabpanel" class="tab-pane active" id="settings">
				<div class="container">
					<div class="container-xl px-4 mt-4">
						<div>
							<div class="card mb-4">
								<div class="card-header" style="font-size: 20pt;">ACCOUNT DETAILS</div>
								<div class="card-body">
									<form asp-action="AddressManage" method="post">
										<!-- Form Group (username)-->
										<input type="hidden" name="customer" value="@ViewBag.CustomerId" />
										<div class="row gx-3 mb-3">
											<div class="col-md-6">
												<label class="mb-1" for="inputUsername">Reciever name</label>
												<input name="fullname" class="form-control" type="text" placeholder="Enter your username" />
											</div>
											<div class="col-md-6">
												<label class="mb-1" for="inputUsername">Phone</label>
												<input name="phone" class="form-control" type="text" placeholder="Enter your fullname" />
											</div>
											<div class="col-md-6">
												<label class="mb-1" for="inputUsername">Address</label>
												<input name="address" class="form-control" type="text" placeholder="Enter your fullname" />
											</div>
										</div>
										<div style="float: right;">
											<button type="submit" class="tg-btn">
												<span>Add new address</span>
											</button>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="container-xl px-4 mt-4">
						<h2> Addresses book </h2>

						<ol>
							@foreach (var item in Model)
							{
								<li>
									@item.Address1
								</li>
							}

						</ol>
					</div>
				</div>

			</div>


		</div>
	</div>
</main>

