@model SoccerManager.Models.Customer

@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Profile</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Profile</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<main id="tg-main" class="tg-main tg-haslayout" style="font-family: Oswald;">
	<div class="tg-themetabs">
		<ul class="tg-themetabnav" role="tablist">
			<li role="presentation" class="active">
				<a asp-action="Profile" asp-route-id="@Model.CustomerId" aria-controls="settings">Update information</a>
			</li>
			<li role="presentation">
				<a asp-action="AddressManage" asp-route-id="@Model.CustomerId" aria-controls="purchased">Address book</a>
			</li>
		</ul>
		<div class="tab-content tg-themetabcontent">
			<div role="tabpanel" class="tab-pane active" id="settings">
				<div class="container">
					<div class="container-xl px-4 mt-4">
						<div>
							<div class="card mb-4">
								<div class="card-header" style="font-size: 20pt;">ACCOUNT DETAILS</div>
								<div class="card-body">
									<form asp-action="Profile" method="post">
										<!-- Form Group (username)-->
										<input type="hidden" asp-for="CustomerId" />
										<div class="row gx-3 mb-3">
											<div class="col-md-6">
												<label class="mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
												<input asp-for="Username" class="form-control" type="text" placeholder="Enter your username" />
												<span asp-validation-for="Username" class="text-danger"></span>
											</div>
											<div class="col-md-6">
												<label class="mb-1" for="inputUsername">FullName</label>
												<input asp-for="Fullname" class="form-control" type="text" placeholder="Enter your fullname" />
												<span asp-validation-for="Fullname" class="text-danger"></span>
											</div>
										</div>
										<div class="row gx-3 mb-3">
											<div class="col-md-6">
												<label class="mb-1" for="inputEmailAddress">Email address</label>
												<input asp-for="Email" class="form-control" type="text" placeholder="Enter your email" />
												<span asp-validation-for="Email" class="text-danger"></span>
											</div>
											<div class="col-md-6">
												<label class="mb-1" for="inputEmailAddress">Phone number</label>
												<input asp-for="Phone" class="form-control" type="text" placeholder="Enter your email" />
												<span asp-validation-for="Phone" class="text-danger"></span>
											</div>
										</div>
										<div class="mb-3">
											<label class="mb-1" for="inputEmailAddress">New Password</label>
											<input asp-for="Password" class="form-control" type="password" placeholder="Enter your email" />
											<span asp-validation-for="Password" class="text-danger"></span>
										</div>
										<div style="float: right;">
											<button type="submit" class="tg-btn">
												<span>Update information</span>
											</button>
											<a class="tg-btn" href="#"><span>Delete account</span></a>
										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="purchased">
				<div class="container">
					<div class="container-xl px-4 mt-4">
						<div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

