<div class="container">
  <div class="row-12 row-product">
    <div class="column-3 tg-section-name">
      <h1 style="border-left: 2px solid black">About soccer</h1>
    </div>
    <div class="column-9">
      <mat-card class="example-card">
        <mat-card-content>
          <div class="header-image">
            <img
              mat-card-image
              [src]="'./../../assets/img/other/img-01.jpg'"
              alt="Shirt ManCity"
            />
          </div>
          <div>
            <p>
              CONSECTETUR ADIPISICING ELIT SED DO EIUSMID TEMPOR INCIDIDUNT
              LABORE
            </p>
            <mat-divider></mat-divider>
            <p style="text-align: justify">
              Consectetur adipisicing elit sed do eiusmod tempor incididunt utia
              labore et dolore magna aliqua enim ad minim veniam quistrud on
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum
              doloreeu fugiat nulla pariatur cepteur sint occaecat.
            </p>
            <div class="tg-btnbox">
              <a class="tg-btn"><span>Read more</span></a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div class="row-12 row-product">
        <div class="column-6 column-product" >
            <mat-card class="example-card">
                <mat-card-header>
                  <div  class="example-header-image">
                    <img mat-card-image [src]="'.\\..\\..\\assets\\img\\bundesliga.png'" alt="Shirt ManCity">
                  </div>
                </mat-card-header>
                <mat-card-content>
                    <p>hello world</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="column-6 column-product" >
            <mat-card class="example-card">
                <mat-card-header>
                  <div  class="example-header-image">
                    <img mat-card-image [src]="'.\\..\\..\\assets\\img\\bundesliga.png'" alt="Shirt ManCity">
                  </div>
                </mat-card-header>
                <mat-card-content>
                    <p>hello world</p>
                </mat-card-content>
              </mat-card>
        </div>
    </div> -->
</div>
<section class="tg-main-section tg-haslayout tg-bgdark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="tg-statistics">
          <div class="tg-statistic tg-goals">
            <span class="tg-icon icon-Icon1"></span>
            <h2>
              <span
                class="tg-statistic-count"
                data-from="0"
                data-to="2700"
                data-speed="8000"
                data-refresh-interval="50"
                >2700</span
              >
            </h2>
            <h3>Goals</h3>
          </div>
          <div class="tg-statistic tg-activeplayers">
            <span class="tg-icon icon-Icon2"></span>
            <h2>
              <span
                class="tg-statistic-count"
                data-from="0"
                data-to="1673"
                data-speed="8000"
                data-refresh-interval="50"
                >1673</span
              >
            </h2>
            <h3>Active Players</h3>
          </div>
          <div class="tg-statistic tg-activeteams">
            <span class="tg-icon icon-Icon3"></span>
            <h2>
              <span
                class="tg-statistic-count"
                data-from="0"
                data-to="236"
                data-speed="8000"
                data-refresh-interval="50"
                >236</span
              >
            </h2>
            <h3>Active Teams</h3>
          </div>
          <div class="tg-statistic tg-earnedawards">
            <span class="tg-icon icon-Icon4"></span>
            <h2>
              <span
                class="tg-statistic-count"
                data-from="0"
                data-to="197"
                data-speed="8000"
                data-refresh-interval="50"
                >197</span
              >
            </h2>
            <h3>Earned Awards</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------------------------------------------ -->
<section class="tg-main-section-1 tg-haslayout">
  <div class="w-100" style="width: 100%">
    <div class="row-12 row-product">
      <div class="column tg-themetab" style="width: 10%">
        <ul class="tg-themetabnav">
          <li role="presentation" class="active">
            <a
              aria-controls="recentvictories"
              (click)="matchSelected('current match')"
              role="tab"
              data-toggle="tab"
              >CURRENT MATCHES</a
            >
          </li>
          <li role="presentation">
            <a
              aria-controls="recentdefeat"
              role="tab"
              (click)="matchSelected('upcoming match')"
              data-toggle="tab"
              >UPCOMING MATCHES</a
            >
          </li>
          <li role="presentation">
            <a
              aria-controls="earlierstats"
              role="tab"
              (click)="matchSelected('earlier match')"
              data-toggle="tab"
              >EARLIER MATCHES</a
            >
          </li>
        </ul>
      </div>
      <div class="column column-product" style="width: 90%">
        <div class="tab-content tg-themetabcontent">
          <div
            role="tabpanel"
            [ngSwitch]="match"
            class="tab-pane active"
            id="recentvictories"
          >
            <div *ngSwitchCase="'upcoming match'">
              <app-upcoming-matches></app-upcoming-matches>
            </div>
            <div *ngSwitchCase="'earlier match'">
              <app-earlier-matches></app-earlier-matches>
            </div>
            <div *ngSwitchDefault>
              <app-current-matches></app-current-matches>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------------------------------- -->

<section class="tg-main-section-1 tg-haslayout tg-bgdark">
  <div class="container h-100" style="height: 100%">
    <div class="row h-100" style="display: flex; flex-direction: row">
      <div class="column" style="width: 10%">
        <p
          style="
            color: #ffcc33;
            font-size: 23px;
            height: 100%;
            display: flex;
            align-items: center;
          "
        >
          HEADLINES
        </p>
      </div>
      <div
        class="column"
        style="width: 90%; height: 100%; display: flex; flex-direction: row"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            width: 30%;
            margin-right: 3px;
          "
        >
          <div>
            <img
              src="./../../assets/img/other/img-01.jpg"
              style="height: 80px; width: 150px"
              alt=""
            />
          </div>
          <p style="color: aliceblue; margin-left: 5px">
            DIPISICING ELIT SED DO EIUSMOD TEMPOR INDUNT
          </p>
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            width: 30%;
            margin-right: 3px;
          "
        >
          <div>
            <img
              src="./../../assets/img/other/img-01.jpg"
              style="height: 80px; width: 150px"
              alt=""
            />
          </div>
          <p style="color: aliceblue; margin-left: 5px">
            DIPISICING ELIT SED DO EIUSMOD TEMPOR INDUNT
          </p>
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            width: 30%;
            margin-right: 3px;
          "
        >
          <div>
            <img
              src="./../../assets/img/other/img-01.jpg"
              style="height: 80px; width: 150px"
              alt=""
            />
          </div>
          <p style="color: aliceblue; margin-left: 5px">
            DIPISICING ELIT SED DO EIUSMOD TEMPOR INDUNT
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ---------------------------------------------------- -->

<section class="tg-main-section-1 tg-haslayout" >
  <div class="w-100" style="width: 100%">
    <div class="row-12 row-product">
      <div class="column-3" style="width: 10%; display: flex; justify-content: flex-end; padding-bottom: 15%;">
        <div class="tg-section-name" >
          <h1 style="border-left: 2px solid black">Top Rated Players</h1>
        </div>
      </div>
      <div class="column column-product" style="width: 90%">
        <div class="tab-content tg-themetabcontent" style="width: 80%;">
          <div
            role="tabpanel"
            [ngSwitch]="match"
            class="tab-pane active"
            id="recentvictories"
          >
          <div class="tg-oldmatchresult">
            <!-- <time class="tg-matchdate" datetime="2016-05-13">27<span>june</span></time> -->
            <div class="tg-matchdetail" >
                <div class="tg-theme-tag" style="height: 50px" ><img src="./../../assets/img/player/erling_haland.png" style="height: 100%;"  alt=""></div>
                <h4 style="margin-left: 20px;">Forward<span style="margin-left: auto;
                  margin-right: auto; display: block;">90 SCORES</span> </h4>
                <address>ERLING HAALAND</address>
            </div>
        </div>
        <div class="tg-oldmatchresult">
            <div class="tg-matchdetail">
              <div class="tg-theme-tag" style="height: 50px" ><img src="./../../assets/img/player/erling_haland.png" style="height: 100%;"  alt=""></div>
              <h4 style="margin-left: 20px;">Forward<span style="margin-left: auto;
                margin-right: auto; display: block;">90 SCORES</span> </h4>
              <address>ERLING HAALAND</address>
          </div>
        </div>
        <div class="tg-oldmatchresult">
            <div class="tg-matchdetail">
              <div class="tg-theme-tag" style="height: 50px" ><img src="./../../assets/img/player/erling_haland.png" style="height: 100%;"  alt=""></div>
              <h4 style="margin-left: 20px;">Forward<span style="margin-left: auto;
                margin-right: auto; display: block;">90 SCORES</span> </h4>
              <address>ERLING HAALAND</address>
          </div>
        </div>
        <div class="tg-oldmatchresult">
          <div class="tg-matchdetail">
            <div class="tg-theme-tag" style="height: 50px" ><img src="./../../assets/img/player/erling_haland.png" style="height: 100%;"  alt=""></div>
            <h4 style="margin-left: 20px;">Forward<span style="margin-left: auto;
              margin-right: auto; display: block;">90 SCORES</span> </h4>
            <address>ERLING HAALAND</address>
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- ----------------------------------------------------- -->
  

