<div class="tg-oldmatchresult">
    <time class="tg-matchdate" datetime="2016-05-13">27<span>june</span></time>
    <div class="tg-matchdetail">
        <span class="tg-theme-tag">English Premier League</span>
        <h4>Lumberjacks <span>10 - 5</span> Killer Whales</h4>
        <address>Soccer Stadium, Dubai</address>
    </div>
</div>
<div class="tg-oldmatchresult">
    <time class="tg-matchdate" datetime="2016-05-13">27<span>june</span></time>
    <div class="tg-matchdetail">
        <span class="tg-theme-tag">English Premier League</span>
        <h4>Lumberjacks <span>4 - 15</span> Killer Whales</h4>
        <address>Soccer Stadium, Dubai</address>
    </div>
</div>
<div class="tg-oldmatchresult">
    <time class="tg-matchdate" datetime="2016-05-13">27<span>june</span></time>
    <div class="tg-matchdetail">
        <span class="tg-theme-tag">English Premier League</span>
        <h4>Lumberjacks <span>4 - 5</span> Killer Whales</h4>
        <address>Soccer Stadium, Dubai</address>
    </div>
</div>
