<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
  justify-content: center;  
}

.flex-container > div {
  background-color: #f1f1f1;

  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
</style>
</head>
<body>

<h1 style="text-align: center;">Premier League</h1>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div class="flex-container">
            <div class="gr_competition"><img src=".\..\assets\img\seriaA\ac_milan.png" class="fluid"  alt=""> <p>AC Milan</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\seriaA\as_roma.png" class="fluid"  alt=""><p>As Roma</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\seriaA\inter_milan.png" class="fluid"  alt=""><p>Inter Milan</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\seriaA\juventus.png" class="fluid"  alt=""><p>Juventus</p></div>
            
        
    
     
</div>

</body>
</html>


