@model IEnumerable<SoccerManager.Models.News>

@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}


<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>About us</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li class="active">Information about our website</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<main id="tg-main" class="tg-main tg-haslayout">
	<div class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
					<div class="col-sm-12 col-xs-12" style="margin-top: -15pt;">
						<figure class="tg-postimg tg-postimgdetail">
							<img src="~/images/blog/img-18.jpg" alt="image description">
						</figure>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
						<div class="tg-postdetail">
							<div class="tg-mathtextbox">
								<div class="tg-section-heading">
									<h2>Welcome to our soccer website!</h2>
								</div>
								<p>Our website is dedicated to delivering the latest news, updates, and insights from the world of soccer. Whether you are a die-hard fan, a casual observer, or a player yourself, we have something for everyone.</p>
								<p>We understand the passion and love that soccer fans around the globe have for the beautiful game. It's not just a sport; it's a way of life. That's why we strive to provide comprehensive coverage, ensuring that you stay well-informed about everything happening in the soccer world.</p>
								<p>Whether you're interested in the top-tier leagues, such as the English Premier League, La Liga, Serie A, or Bundesliga, or you want to dive into the exciting world of international soccer, we've got you covered. From the thrilling battles on the pitch to the transfer sagas and off-field dramas, our website is your one-stop destination for all the soccer news you need.</p>
								<div id="tg-matchdetailslider" class="tg-matchdetailslider">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<figure><img src="~/images/match-detail/img-01.jpg" alt="image description"></figure>
										</div>
										<div class="swiper-slide">
											<figure><img src="~/images/match-detail/img-01.jpg" alt="image description"></figure>
										</div>
										<div class="swiper-slide">
											<figure><img src="~/images/match-detail/img-01.jpg" alt="image description"></figure>
										</div>
									</div>
									<div class="tg-themebtnprev"><span class="fa fa-angle-right"></span></div>
									<div class="tg-themebtnnext"><span class="fa fa-angle-left"></span></div>
								</div>
								<div class="tg-section-heading">
									<h2>Our members</h2>
								</div>
								<p>Our team of dedicated writers and journalists are true soccer enthusiasts, with a wealth of knowledge and experience. They work tirelessly to bring you engaging articles, match reports, analysis, and exclusive interviews with players, coaches, and experts. We aim to keep you at the forefront of all soccer action, no matter where it takes place.</p>
								<br>
								<br>
								<br>
								<p>But our website is not just about reporting the news; we also want to engage with our readers, building a vibrant community of soccer enthusiasts. We encourage you to leave comments, share your opinions, and interact with fellow fans on our articles and social media platforms. Soccer is all about passion and camaraderie, and we want to foster that spirit among our readers.</p>
								<p>For those eager to improve their knowledge or skills in the game, our website offers insightful guides, tactical breakdowns, and training tips. Whether you're a coach looking for new ideas, a player seeking advice, or simply someone who wants to delve into the intricacies of the sport, we have valuable resources to help you achieve your goals.</p>
								<br>
								<div id="tg-playerslider" class="tg-playerslider tg-haslayout">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<figure><img src="~/images/match-detail/img-01.jpg" alt="image description"></figure>
										</div>
										<div class="swiper-slide">
											<figure><img src="~/images/match-detail/img-01.jpg" alt="image description"></figure>
										</div>
										<div class="swiper-slide">
											<figure><img src="~/images/match-detail/img-01.jpg" alt="image description"></figure>
										</div>
									</div>
								</div>
								<p>In addition to all the written content, we provide visually appealing multimedia content such as high-quality images, videos, and highlights from matches across various leagues. You'll never miss the key moments, stunning goals, or jaw-dropping saves with our comprehensive coverage.</p>
								<p>So, whether you are here to stay updated, engage with fellow fans, or elevate your soccer knowledge, we are thrilled to have you as part of our community. Stay with us, explore our articles, and enjoy the unlimited excitement that soccer brings!</p>
								<p>Thank you for choosing our soccer website - your home for everything soccer-related.</p>
							</div>
							<div id="tg-comments" class="tg-comments">
								<div class="tg-section-heading">
									<h2>What do they say about us</h2>
								</div>
								<ul>
									<li>
										<div class="tg-comment">
											<figure>
												<a href="#">
													<img src="~/images/thumbnails/img-08.jpg" alt="image description">
												</a>
											</figure>
											<div class="tg-commentdata">
												<span class="tg-theme-tag"><time datetime="2016-05-03">May 3, 2024</time></span>
												<div class="tg-section-heading">
													<h3>Will Mccaulley</h3>
												</div>
												<div class="tg-description">
													<p>Good</p>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="tg-comment">
											<figure>
												<a href="#">
													<img src="~/images/thumbnails/img-09.jpg" alt="image description">
												</a>
											</figure>
											<div class="tg-commentdata">
												<span class="tg-theme-tag"><time datetime="2016-05-03">May 3, 2019</time></span>
												<div class="tg-section-heading">
													<h3>Will Mccaulley</h3>
												</div>
												<div class="tg-description">
													<p>Nice</p>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="tg-comment">
											<figure>
												<a href="#">
													<img src="~/images/thumbnails/img-10.jpg" alt="image description">
												</a>
											</figure>
											<div class="tg-commentdata">
												<span class="tg-theme-tag"><time datetime="2016-05-03">May 3, 2014</time></span>
												<div class="tg-section-heading">
													<h3>Will Mccaulley</h3>
												</div>
												<div class="tg-description">
													<p>Amazing good job</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<aside id="tg-sidebar" class="tg-sidebar">
							<div class="tg-widget tg-catagories-widget">
								<h3>Our other articles</h3>
								<ul>
									<li><a asp-controller="AboutSoccer" asp-action="SoccerInfoBasic"><em>The basic information about soccer</em><i></i></a></li>
									<li><a asp-controller="AboutSoccer" asp-action="SoccerVsFootball"><em>The difference between soccer and football</em><i></i></a></li>
									<li><a asp-controller="AboutSoccer" asp-action="SoccerRules"><em>The rules of soccer</em><i></i></a></li>
									<li><a asp-controller="AboutSoccer" asp-action="SoccerHistory"><em>The history of soccer</em><i></i></a></li>
									<li><a asp-controller="AboutSoccer" asp-action="SoccerField"><em>Details about soccer field</em><i></i></a></li>
									<li><a asp-controller="AboutSoccer" asp-action="SoccerStatics"><em>Common soccer tatics</em><i></i></a></li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>