@model IEnumerable<SoccerManager.Models.Team>

@{
	ViewData["Title"] = "ListTeam";
	Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!--************************************
				Banner Start
		*************************************-->
<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Teams</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li href="#">Teams</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Banner End
*************************************-->

<!--************************************
		Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">

	<!--************************************
			Soccer Media Start
	*************************************-->
	<section class="tg-main-section tg-soccermedia tg-haslayout">
		<div class="container">
			<h2>List teams</h2>

			@foreach (var item in Model)
			{
@*				<div class="masonry-grid premier">
					<div class="tg-project">
						<figure class="tg-postimg">
							<img src="~/images/team-logo/mancity.jpg" alt="image description">
							<figcaption>
								<a class="tg-theme-tag">premier league</a>
								<h3>manchester city</h3>
							</figcaption>
						</figure>
					</div>
				</div>
*@
				<div class="masonry-grid premier" style="margin: 10px;">
					<div class="tg-project">
						<figure class="tg-postimg">
							<a asp-action="TeamInfo" asp-route-id="@item.TeamId">
								<img src="@Url.Content("~/images/" + item.LogoUrl)" alt="Image" style="">
							</a>
							<figcaption>
								<a asp-action="TeamInfo" asp-route-id="@item.TeamId" class="tg-btn">
									@Html.DisplayFor(modelItem => item.FullName)
								</a>
							</figcaption>

						</figure>
					</div>
				</div>

			}


		</div>

	</section>
	<!--************************************
			Soccer Media End
	*************************************-->
</main>
<!--************************************
		Main End
*************************************-->
