@model IEnumerable<SoccerManager.Models.Team>

@{
    ViewData["Title"] = "ListTeam";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}



<!--************************************
		Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">

	<h2>List teams</h2>
	<!--************************************
			Soccer Media Start
	*************************************-->
	<section class="tg-main-section tg-soccermedia tg-haslayout">
		<div class="container">

			@foreach (var item in Model)
			{

				<div class="masonry-grid premier">
					<div class="tg-project">
						<figure class="tg-postimg">
							<a asp-action="TeamInfo" asp-route-id="@item.TeamId">
								<img src="@Url.Content("~/images" + item.LogoUrl)" alt="">
							</a>
							<figcaption>
								<a asp-action="TeamInfo" asp-route-id="@item.TeamId" class="tg-btn">
									@Html.DisplayFor(modelItem => item.FullName)
								</a>
							</figcaption>

						</figure>
					</div>
				</div>

			}


		</div>

	</section>
	<!--************************************
			Soccer Media End
	*************************************-->
</main>
<!--************************************
		Main End
*************************************-->
