@model SoccerManager.Models.Cart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Cart</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Customer</label>
                </div>
                <div class="col-4">
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Product</label>
                </div>
                <div class="col-4">
                    <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label asp-for="Quantity" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input type="number" min="1" asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
