
@{
    ViewData["Title"] = "SoccerField";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Soccer Filed</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Soccer Filed</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Banner End
*************************************-->
<!--************************************
		Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
	<div class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
					<div class="col-sm-12 col-xs-12">
						<figure class="tg-postimg tg-postimgdetail">
							<img src="~/images/blog/img-18.jpg" alt="image description">
							<figcaption>
								<ul class="tg-postmetadata">
									<li><a href="#">Soccer is the king of sports</a></li>

								</ul>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
						<div class="tg-postdetail">
							<div class="tg-mathtextbox">
								<div class="tg-section-heading">
									<h2>All you need to know about a soccer field</h2>
								</div>
								<p>Perhaps one of the most overlooked elements of soccer, the field is also one of the most important as a game would be impossible without it. So what goes into creating a pitch fit for the professional game? What factors have to be considered during construction of a new stadium? What are its dimensions? What do the markings mean? And what surface do footballers actually play on? The International Football Association Board (IFAB), the governing body that writes the rules of soccer, states that a field must be rectangular and marked with continuous lines. A full-size pitch may be anywhere from 50-100 yards in width and 100-130 yards in length.</p>
								<p>The field of play should be 125m x 85m (136 x 93 yards), or a minimum of 120m x 80m (131 x 87 yards) and there must be a minimum of 1.5m of pitch beyond the marked playing area. The same dimensions apply to pitches used in continental UEFA competitions. Measurements are made to the outside of each line, which themselves should not be more than 12cm (4.7 inches) wide and ideally are the width of the goalpost.</p>
								<p>Goals are to be eight yards wide measured between the inside of both posts and eight feet from the ground to the lower edge of the crossbar. The posts and bar must not exceed five inches.</p>
								<p>The DFL also stipulates that a warm-up area for substitute players must be provided either along the touchline or behind the goal on the side of the pitch not occupied by the respective assistant referees. These areas should also be covered with the same material as the main pitch.</p>
								<div class="tg-section-heading">
									<h2>Markings on the field</h2>
								</div>
								<p>Within the outer limits of the pitch there are a number of carefully measured out markings, all painted in white. These are painted manually and often require at least two layers to ensure their brightness. They are often repainted on matchdays after the final cut of the turf a few hours before kick-off.</p>
								<p>The halfway line divides the field in equal halves from touchline to touchline (long sides). Along the halfway point of that is the center mark (nine inches in diameter), which is surrounded by the center circle (10 yards in radius).</p>
								<p>The penalty areas in front of both goals extend 18 yards from the goal line. The width is 18 yards from the outside of each goal post. Twelve yards out from the center of the goal is the penalty spot (eight inches in diameter). This is measured from the center of the mark to the back of the goal line and is the reference point for what is known as the D – the arc along the top of the penalty area – drawn 10 yards from the spot to ensure distance is maintained at a penalty, where every player bar the taker must be 10 yards from the ball.</p>
								<p>The smaller box inside the penalty area is the six-yard box. It extends six yards from the goal line and also six yards from the outside of each post.</p>
								<p>At the four corners of the pitch, marked by a five-foot tall flag, there is a quarter circle of one yard in radius. Optional lines can be drawn outside the pitch 10 yards from the corners along the goal line and touchline.</p>
								<p>Also outside of the playing surface are the technical areas. These are rectangles drawn around the area designated for team officials and substitutes (the dugout), and extend up to one yard either side of the designated seating area and up to one yard from the touchline.</p>
								<div class="tg-section-heading">
									<h2>What is the turf made of?</h2>
								</div>
								<p>DFL rules dictate that a pitch must be "made of natural grass, be absolutely flat, in good condition and playable for the entire season in DFL, DFB and UEFA competitions". However, in certain competitions, such as those run by UEFA, an artificial playing surface is also allowed, as well as a hybrid system of artificial and natural materials.</p>
								<p>One other simple yet crucial factor is that all surfaces, whether natural or artificial, must be green.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<aside id="tg-sidebar" class="tg-sidebar">
							<div class="tg-widget tg-search">
								<form class="form-search">
									<fieldset>
										<input type="search" placeholder="Search Here" class="form-control">
										<button type="submit"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>
							<div class="tg-widget tg-catagories-widget">
								<h3>Other articles</h3>
								<ul>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerInfoBasic"><em>The basic information about soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerVsFootball"><em>The difference between soccer and football</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerRules"><em>The history of soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerHistory"><em>Details about soccer field</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerStatics"><em>Common soccer tatics</em><i></i></a></li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

