
@{
    ViewData["Title"] = "SoccerVsFootball";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Blog / Soccer vs Football</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Blog / Soccer vs Football</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
	<div class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
					<div class="col-sm-12 col-xs-12">
						<figure class="tg-postimg tg-postimgdetail">
							<img src="~/images/blog/img-18.jpg" alt="image description">
							<figcaption>
								<ul class="tg-postmetadata">
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerVsFootball">Soccer is the king of sports</a></li>

								</ul>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
						<div class="tg-postdetail">
							<div class="tg-mathtextbox">
								<div class="tg-section-heading">
									<h2>What is the difference between soccer and football?</h2>
								</div>
								<p>What is the difference between soccer and football? Depending on which side of the Atlantic you learned your English, the answer is either 'There isn’t one' or 'It's a completely different sport'.</p>
								<p>American English speakers call the sport run by the NFL and played mostly with the hands and always with an oval ball football. What is called football by most of the rest of the world, including UK English speakers, is known as soccer or European football in the USA and Canada. What is called football in North America is known as American football elsewhere. Confused? Let us explain.</p>
								<p>Though over 90 percent of the planet call the sport played by 22 players with a round ball on a rectangular pitch football in some shape or form depending on their native language, the sport’s full name is Association football. That is what it was christened in 1863 when the English Football Association defined the game’s first rules. The reason they called it that? To make sure it was not confused with other forms of football played at the time, notably rugby football, nowadays known simply as rugby, which is also played mostly with hands.</p>
								<p>In the late 19th century, British students often used to shorten names and words, and so they set to work on Association football. It was first recorded in 1889 as socca and then socker before finding its current form in 1895.</p>
								<p>With American football already popular in North America and being popularly known as football, Association football needed a new name to distinguish it in the United States, so it was called soccer. While that word is still frequently used in the US, it is only very rarely used in the United Kingdom, where you'll often even hear it referred to as the Beautiful Game, a name popularised thanks to Brazilian legend Pele.</p>
								<p>It's also common to come across the Portuguese translation of that, O Jogo Bonito, because of the impact five-time world champions Brazil have had on the game, as well commercials from sportswear companies.</p>
								<p>As for any differences in rules between soccer and (Association) football, the answer is that there are none. Both refer to the same sport featuring 22 players described above and adhere to rules laid out by the International Football Association Board (IFAB).</p>
								<p>That is the body that determines what's known as the Laws of the Game, which agrees a standardized set of rules for play around the world. The board consists of global governing body FIFA alongside the four football associations of the United Kingdom: England (The FA), Scotland (SFA), Wales (FAW) and Northern Ireland (IFA).</p>
								<p>Any professional match has to abide by these rules, regardless of whether you're playing football, soccer or o jogo bonito.</p>
							</div>
							<div id="tg-playerslider" class="tg-playerslider tg-haslayout">
								<div class="tg-themebtnprev"><span class="fa fa-angle-left"></span></div>
								<div class="tg-themebtnnext"><span class="fa fa-angle-right"></span></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<aside id="tg-sidebar" class="tg-sidebar">
							<div class="tg-widget tg-search">
								<form class="form-search">
									<fieldset>
										<input type="search" placeholder="Search Here" class="form-control">
										<button type="submit"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>
							<div class="tg-widget tg-catagories-widget">
								<h3>Other articles</h3>
								<ul>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerInfoBasic"><em>The basic information about soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerRules"><em>The rules of soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerHistory"><em>The history of soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerField"><em>Details about soccer field</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerStatics"><em>Common soccer tatics</em><i></i></a></li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

