@model SoccerManager.Models.Cart

@{
    ViewData["Title"] = "SoccerInfoBasic";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Soccer Info Basic</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Soccer Info Basic</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<main id="tg-main" class="tg-main tg-haslayout">
	<div class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
					<div class="col-sm-12 col-xs-12">
						<figure class="tg-postimg tg-postimgdetail">
							<img src="~/images/blog/img-18.jpg" alt="image description">
							<figcaption>
								<ul class="tg-postmetadata">
									<li><a href="#">Soccer is the king of sports</a></li>

								</ul>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
						<div class="tg-postdetail">
							<div class="tg-mathtextbox">
								<div class="tg-section-heading">
									<h2>Basic information about soccer</h2>
								</div>
								<p>Soccer, or football as it's known outside of North America, is the most popular sport in the world. Soccer is a team sport played by a team of 11 players against another team of 11 players on a field. The team has one designated goalkeeper and 10 outfield players. Outfield players are usually specialised in attacking or defending or both. A team is typically split into defenders, midfielders and forwards, though there is no restriction on players moving anywhere on the pitch. A soccer ball is round, and must measure between 27-28" in circumference and weigh between 14 and 16oz.</p>
								<p>It is known as soccer in North America, but is called football in most of the rest of the world. Its full name is Association Football.</p>
								<div class="tg-section-heading">
									<h2>How many countries play soccer?</h2>
								</div>
								<p>Soccer is the world's most popular sport, played by over 250 million people in more than 200 countries. It is particularly popular in Europe, Central and South America, and Africa, though has a growing influence in North America and Asia.</p>
								<div class="tg-section-heading">
									<h2>What does a soccer pitch look like?</h2>
								</div>
								<p>The game is played on a rectangular field called a pitch with a goal at either end. The size of the pitch for international adult category matches can be between 110-120 yards long and 70-80 yards wide. The lines at either end of the pitch are called the goal lines, the lines perpendicular to the goal lines are called the touchlines. The playing surface is usually grass. Artificial surfaces are very rarely used at professional level.</p>
								<p>The World Cup is the single-most watched sporting event on the planet. The 2006 tournament in Germany enjoyed cumulative viewing figures of over 26 billion, while in excess of 715 million - one ninth of the planet's population - watched Italy beat France in the final at Berlin's Olympiastadion.</p>
								<div class="tg-section-heading">
									<h2>What is the aim of soccer?</h2>
								</div>
								<p>The object of the game is to move the ball up the pitch and beyond the goal line of your opponent's goal. A standard game lasts 90 minutes, split into two halves of 45 minutes. The goal has two upright posts and a horizontal bar connecting them known as the crossbar and is placed in the middle of the goal line. For competitive games, a net is connected to the posts and crossbar to stop the ball after it has crossed the goal line. Any of a team's 11 players on the pitch can score a goal, which adds one to the team's total. The team also get a goal if an opponent sends the ball into their own goal by mistake. The team that scores the most goals in the 90 minutes wins the game.</p>
								<p>Regular season games end at 90 minutes, even if the scoreline is level. In domestic cup competitions and the knockout stages of international club and national team competitions, an additional 30 minutes - known as extra-time - is played, split into two halves of 15 minutes. If the scores are still level after extra-time, a penalty shootout takes place. Here, five players from each team take turns to score. If the scores are still level after that, the team's remaining players step up for sudden death until there is a winner.</p>
								<div class="tg-section-heading">
									<h2>What is the soccer World Cup?</h2>
								</div>
								<p>FIFA organise the World Cup every four years, two years after/before the Olympic Games and UEFA's EUROs. It is open to national teams from around the planet. It has most recently been contested between 32 finalists, though that number will increase to 48 for the 2026 competition to be held in the USA, Canada and Mexico.</p>
								<p>The World Cup is the single-most watched sporting event on the planet. The 2006 tournament in Germany enjoyed cumulative viewing figures of over 26 billion, while in excess of 715 million - one ninth of the planet's population - watched Italy beat France in the final at Berlin's Olympiastadion.</p>
							</div>
							<div id="tg-playerslider" class="tg-playerslider tg-haslayout">
								<div class="tg-themebtnprev"><span class="fa fa-angle-left"></span></div>
								<div class="tg-themebtnnext"><span class="fa fa-angle-right"></span></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<aside id="tg-sidebar" class="tg-sidebar">
							<div class="tg-widget tg-search">
								<form class="form-search">
									<fieldset>
										<input type="search" placeholder="Search Here" class="form-control">
										<button type="submit"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>
							<div class="tg-widget tg-catagories-widget">
								<h3>Other articles</h3>
								<ul>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerVsFootball"><em>The difference between soccer and football</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerRules"><em>The rules of soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerHistory"><em>The history of soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerField"><em>Details about soccer field</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerStatics"><em>Common soccer tatics</em><i></i></a></li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

