
@{
    ViewData["Title"] = "SoccerRules";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="~/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>Blog / Soccer Rules</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Blog / Soccer Rules</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
	<div class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div id="tg-twocolumns" class="tg-twocolumns tg-haslayout">
					<div class="col-sm-12 col-xs-12">
						<figure class="tg-postimg tg-postimgdetail">
							<img src="~/images/blog/img-18.jpg" alt="image description">
							<figcaption>
								<ul class="tg-postmetadata">
									<li><a href="#">Soccer is the king of sports</a></li>

								</ul>
							</figcaption>
						</figure>
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12 pull-left">
						<div class="tg-postdetail">
							<div class="tg-mathtextbox">
								<div class="tg-section-heading">
									<h2>The rules of soccer</h2>
								</div>
								<p>Combine a soccer field, a coach, some drills and, of course, some players, teams and a ball, and you have all you need to play soccer.</p>
								<p>That may be simplifying it a little, but before you get to the basic rules and tactics, soccer is, in fact, a simple game. Even when you add all the rest, simplicity remains one of the fundamental keys to success on the soccer field.</p>
								<p>So how can one get involved in the first place? Soccer is so accessible that all you really need is a ball and space to play in. With a bit of improvisation, it does not actually have to be a field – the first experience of the game can even be kicking the ball against the wall, or throwing a couple of coats down for goalposts and playing a small sided game with friends in the park.</p>
								<p>The ultimate objective is to have two teams of 11, one goalkeeper and ten outfield players, on a full-size pitch, but soccer can be played with different numbers, and on different size pitches, and even indoor, just for fun or following the rules of futsal.</p>
								<p>After initially getting acquainted with the game, and the simple movements of kicking the ball, a soccer coach should then refine an individual's skills and technique with training drills and exercises. Like with anything, practise is essential to improve and one of the best ways of getting this practise is to join a team who have regular training sessions.</p>
								<p>There, not only will you improve your ability, but also learn how to play the game for real, including its basic rules. While football can be enjoyed individually, kicking the ball against the wall or just practising skills, like keeping the ball up, dribbling or turning, it is essentially a team game and interaction with teammates, passing the ball from player to player and shooting, are vital components.</p>
								<p>There are two distinct phases in a typical game of 11 vs. 11 soccer: in possession and out of possession. Generally speaking, the team in possession of the ball is attacking while the other is defending, but the division is not always so distinct. The main idea when in possession is trying to find a way to get the ball into the opposing team's goal, but the defending team has the opposite objective of trying to prevent you from scoring a goal, and regaining possession of the ball so that they can try to score themselves.</p>
								<p>Winning possession can be achieved either by intercepting an opponent's pass or by tackling your opponent, thus taking the ball off them. Rules determining the permissible use of the body, arms and legs dictate when a tackle is fair or whether a foul is committed, which would result in a free-kick outside of the penalty area, or a penalty kick if committed within the defending team's penalty area.</p>
								<p>That decision is taken by the referee, who is assisted by two further officials, one on each touchline with responsibility for one half of the field each and to check if any players go offside, one of the more complex rules of the game. At the highest levels, there is a fourth official situated off the field at the halfway line, who will assist the referee with his decisions and keep an eye on the behaviour of coaches, staff and substitutes on both of the benches.</p>
								<p>Since 2018, video replay technology has also been introduced into the highest levels of the game. The Video Assistant Referee, or VAR as it is most commonly known by its acronym, is able to intervene in a limited number of incidents and will assist the referee if a clear and obvious error is committed.</p>
								<p>Ideally, however, the referee should not have to show a yellow card, which is a warning to a player, or a red card, which results in a player being forced to leave the field of play for the remainder of that game – the result also of a player being shown two yellows. If the two teams play fairly and stick to kicking the ball and not their opponents, a soccer game can flow from end to end, and that is when greater technique and the effective use of tactics will make the difference.</p>

							</div>
							<div id="tg-playerslider" class="tg-playerslider tg-haslayout">
								<div class="tg-themebtnprev"><span class="fa fa-angle-left"></span></div>
								<div class="tg-themebtnnext"><span class="fa fa-angle-right"></span></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<aside id="tg-sidebar" class="tg-sidebar">
							<div class="tg-widget tg-search">
								<form class="form-search">
									<fieldset>
										<input type="search" placeholder="Search Here" class="form-control">
										<button type="submit"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>
							<div class="tg-widget tg-catagories-widget">
								<h3>Other articles</h3>
								<ul>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerInfoBasic"><em>The basic information about soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerVsFootball"><em>The difference between soccer and football</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerHistory"><em>The history of soccer</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerField"><em>Details about soccer field</em><i></i></a></li>
									<li><a asp-area="" asp-controller="AboutSoccer" asp-action="SoccerStatics"><em>Common soccer tatics</em><i></i></a></li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

