@model SoccerManager.Models.Orders

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label asp-for="OrderDate" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input type="date" asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label asp-for="CustomerId" class="control-label"></label>
                </div>
                <div class="col-4">
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label asp-for="ShippedDate" class="control-label"></label>
                </div>
                <div class="col-4">
                    <input type="date" asp-for="ShippedDate" class="form-control" />
                    <span asp-validation-for="ShippedDate" class="text-danger"></span><span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label asp-for="AddressId" class="control-label"></label>
                </div>
                <div class="col-4">
                    <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                    <span asp-validation-for="AddressId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label asp-for="Status" class="control-label"></label>
                </div>
                <div class="col-4">
                    <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Employee</label>
                </div>
                <div class="col-4">
                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Payment Method</label>
                </div>
                <div class="col-4">
                    <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                    <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Payment Status</label>
                </div>
                <div class="col-4">
                    <input asp-for="PaymentStatus" class="form-control" />
                    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                </div>                
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Payment Date</label>
                </div>
                <div class="col-4">
                    <input asp-for="PaymentDate" class="form-control" />
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Card Name</label>
                </div>
                <div class="col-4">
                    <input asp-for="CardName" class="form-control" />
                    <span asp-validation-for="CardName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Card Number</label>
                </div>
                <div class="col-4">
                    <input asp-for="CardNumber" class="form-control" />
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Expire</label>
                </div>
                <div class="col-4">
                    <input asp-for="Expire" class="form-control" />
                    <span asp-validation-for="Expire" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-2">
                    <label class="control-label">Security Code</label>
                </div>
                <div class="col-4">
                    <input asp-for="SecurityCode" class="form-control" />
                    <span asp-validation-for="SecurityCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-6">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
