@model SoccerManager.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit product</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit" class="row" enctype="multipart/form-data">
            <div class="col-sm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID" class="control-label"></label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InStock" class="control-label"></label>
                    <input asp-for="InStock" class="form-control" />
                    <span asp-validation-for="InStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OnOrder" class="control-label"></label>
                    <input asp-for="OnOrder" class="form-control" />
                    <span asp-validation-for="OnOrder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discontinued" class="control-label"></label>
                    <input asp-for="Discontinued" class="form-control" />
                    <span asp-validation-for="Discontinued" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamID" class="control-label"></label>
                    <select asp-for="TeamID" class="form-control" asp-items="ViewBag.TeamID"></select>
                    <span asp-validation-for="TeamID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerID" class="control-label"></label>
                    <select asp-for="PlayerID" class="form-control" asp-items="ViewBag.PlayerID"></select>
                    <span asp-validation-for="PlayerID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-sm">
                <h2>Select image to delete</h2> 
                @foreach (var item in Model.ProductImage)
                {
                    <div class="row">
                        <div class="col-1 align-items-center d-flex">
                            <input type="checkbox" name="deleteImage" value="@item.ImageURL" />
                        </div>
                        <div class="col-6">
                            <img src="@Url.Content("~/images/" + item.ImageURL)" style="width: 200px; margin: 10px 0;" />
                        </div>

                    </div>
                }

                <h2>Add new images</h2>
                <div class="form-group">
                    <label class="control-label">Product images</label>
                    <input type="file" name="files" multiple class="form-control" />
                </div>


            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
