mat-sidenav {
    width: 100%;
    border-right: none;
    color: white;
    text-align: center;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    padding: 16px;
  
    overflow: auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size:150%;
    height: 10%;
    mat-icon {
      margin-right: 8px;
    }
  }
  .mat-tab-label{
    color: white;
  }
  .authen{
    display: flex;
    flex-direction: row;
    right: 0;
  }
  .authen p{
    color: white;
    margin: 10px;
  }
  /* src/styles.css */
.mat-menu-content {
  background-color: lightblue;
}

  
  