*{
    box-sizing: border-box;
}
img{
    background-color: #f1f1f1; 
    margin: 5px;
    height: 50px; width: 50px;
}
.gr_competition{
    height: 50px; width: 50px;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 5px;
}

