<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
}

.flex-container > div {
  background-color: #f1f1f1;

  width: 100px;
  height: 100px;
  margin: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
</style>
</head>
<body>

<h1 style="text-align: center;">Premier League</h1>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<div class="flex-container">
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\arsenal.png" class="fluid"  alt=""> <p>Arsenal</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\astonVilla.png" class="fluid"  alt=""><p>Aston Villa</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\brentford.png" class="fluid"  alt=""><p>BrentFord</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\burnley.png" class="fluid"  alt=""><p>Burnley</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\chelsea.png" class="fluid"  alt=""><p>Chelsea</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\crystalPalace.png" class="fluid"  alt=""><p>Crystal Palace</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\everton.png" class="fluid"  alt=""><p>Everton</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\liverpool.png" class="fluid"  alt=""><p>Liverpool</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\manchesterCity.png" class="fluid"  alt=""><p>Manchester City</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\mu.png" class="fluid"  alt=""><p>Manchester United</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\newcastle.png" class="fluid"  alt=""><p>Newcastle</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\nottingham.png" class="fluid"  alt=""><p>Nottingham Forest</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\tottenhamHotspur.png" class="fluid"  alt=""><p>Tettenham Hotspur</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\WestHam.png" class="fluid"  alt=""><p>West Hame</p></div>
            <div class="gr_competition"><img src=".\..\assets\img\premier_league\wolves.png" class="fluid"  alt=""><p>Wolverhamton Wanderers</p></div>
        
    
     
</div>

</body>
</html>


