<div>
    <h1>Shop Your Favourite League</h1>
    <div class="compete">
        <img src=".\..\assets\img\bundesliga.png" alt="bundesliga" (click)="bundesligaButton()" >
        <img src=".\..\assets\img\laliga.png" alt="laliga" (click)="laligaButton()">
        <img src=".\..\assets\img\ligue1.png" alt="ligue1" (click)="ligue1Button()">
        <img src=".\..\assets\img\premier_league.png" alt="premier_league" (click)="premierLeagueButton()">
        <img src=".\..\assets\img\seriaA.png" alt="seriaA" (click)="seriaAButton()">
    </div>
</div>
