<div class="container">
  <div class="row-12" >Premier League / <span>manchester city</span></div>
  <mat-divider ></mat-divider>
  <div class="row">
    <div class="column-3" style="width: 20%;">
      <div>
        <p><b>Your Selections</b></p>
        <p style="cursor: pointer; display: flex; align-items: center; "><mat-icon style="display: inline-flex; align-items: flex-end;">cancel</mat-icon> <span style="font-size: 20px;">Machester City</span></p>
      </div>
      <mat-divider ></mat-divider>
      <div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Kit Type </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group aria-label="Select an option" (change)="kitTypeChange($event)">
            <mat-radio-button value="Home" >Home</mat-radio-button>
            <mat-radio-button value="Away">Away</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
      </div>
      <mat-divider></mat-divider>
      <div>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Price </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="Under 30">Under $30</mat-radio-button>
            <mat-radio-button value="From 30 to 60">From $30 to $60</mat-radio-button>
            <mat-radio-button value="Over 60">Over $60</mat-radio-button>
          </mat-radio-group>
          <form [formGroup]="priceForm"(ngSubmit)="choosePrice()" style="display: flex; flex-direction: column; justify-content: center;" >
            <mat-form-field class="price-range" >
              <mat-label>Min($)</mat-label>
              <input style="width: 100%;" type="number" matInput formControlName="priceFrom" >
            </mat-form-field>
            <mat-error *ngIf="priceForm.get('priceFrom')?.value<0" >
                Price must be greater than 0
            </mat-error>
            <br>
            <mat-form-field class="price-range">
                <mat-label>Max($)</mat-label>
                <input style="width: 100%;" type="number" matInput formControlName="priceTo"  >
              </mat-form-field>
              <mat-error *ngIf="priceForm.get('priceTo')?.value<0">
                Price must be greater than 0
            </mat-error>
              <button  mat-raised-button [disabled]="priceForm.invalid" >Check</button>
          </form>
        </mat-expansion-panel>
      </div>
      
    </div>
    <div class="column-9" style="width: 80%;">
        {{priceForm.value|json}}
  {{priceForm.pristine|json}}
  {{priceForm.dirty|json}}
  {{priceForm.invalid}}
        <mat-divider></mat-divider>
        <app-product-shopping></app-product-shopping>
        </div>
  </div>
</div>
